


<div>

<div id="otherClients"> </div>
<video style="float:left" id="self" width="1200" height="900" muted="muted"></video>
<video style="float:left" id="caller" width="300" height="200"></video>

</div>


<a href="http://localhost:3000"><button>Home</button></a>


<script>
  window.onload = my_init()
</script>