        <div id="otherClients"> </div>
        <video style="float:left" id="self" width="1200" height="900"  muted="muted"></video>
        <video style="float:left" id="caller" width="300" height="200"></video>
<p>
  PAGINA DE VCALL
</p>


<script>
  window.onload = my_init()
</script>
