<div id="otherClients"> </div>
<video style="float:left" id="self" width="300" height="200" autoplay="autoplay" playsinline="playsinline"></video>
<video style="float:left" id="caller" width="300" height="200" autoplay="autoplay" playsinline="playsinline"></video>

<p>
  PAGINA DE VCALL
</p>

