<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="/server/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/server/lib/easyrtc.js"></script>
  <script type="text/javascript" src="/server/lib/mylogic.js"></script>
</head>

 <body onload="my_init()">

  {{{body}}}

</body>

</html>